* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    background-color: #F3F0F0;
    margin-bottom: 80px;
    margin-top: 20px;
    padding: 0 60px;
    }
    p {
      margin: 0;
    }
    h1 {
      margin: 0;
    }
  .top-page-bar {
    border: 2px solid rgb(197, 188, 188);
    margin-top: 36px;
    margin-bottom: 10px;
  }
  .top-header {
    font-family: cabinetRegular;
    font-weight: 800;
    font-size: 16px;
    color: #432D58;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
  }
  .weeks {
    font-family: cabinetRegular;
    font-weight: 800;
    font-size: 10px;
    color: #432D58;
    letter-spacing: 1px;
    margin-top: 0;
    margin-left: -5px;
  }
  .description-bar {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .description p {
    font-size: 1rem;
    font-family: cabinetRegular;
    color: #696969;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .blockquote {
    display: block;
    border-left: 2px solid #512679;
    padding: 0 0 0 1rem;
    width: 70%;
    height: auto;
    font-size: 16px;
    font-family: cabinetRegular;
    color: #696969;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-top: 0.8rem;
  }
  button {
    padding: 1rem 2rem;
    background-color: #432D58;
    font-family: cabinetRegular;
    font-size: 1rem;
    color: #f8f8f8;
    border: none;
    outline: none;
    column-gap: 0.5rem;
    cursor: pointer;
    border-radius: 8px;
    display: inline;
    margin-right: 20px;
  }
  .buttons-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;
    margin-top: 1.17rem;
  }
  .price h1 {
    font-family: cabinetRegular;
    font-size: 16px;
    font-weight: 700;
    color: #512679;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
  .price p {
    font-family: cabinetRegular;
    font-size: 12px;
    font-weight: 700;
    color: #696969;
    letter-spacing: 0.5px;
    margin-top: 0;
  }
  /* this is where css for why elements begins */
  .why-container {
    width: 100%;
    display: block;
  }
  .why-join-title {
    font-family: cabinetRegular;
    font-weight: 800;
    font-size: 16px;
    color: #696969;
    letter-spacing: 0.5px;
    margin-top: 3rem;
    margin-bottom: 0.8rem;
  }
  .why-join {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .column {
    width: 32%;
    height: auto;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
  }
  .column h1 {
    font-family: cabinetRegular;
    font-size: 1rem;
    font-weight: 700;
    color: #2c2929;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  .column p {
    font-family: cabinetRegular;
    width: auto;
    font-size: 12px;
    font-weight: 700;
    color: #696969;
    letter-spacing: 0.5px;
    margin-top: 0;
  }
  /* this is css for curriculum section */
  .curriculum-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.8rem;
    margin-top: 30px;
  }
  .curriculum-header {
    font-family: cabinetRegular;
    font-weight: 800;
    font-size: 16px;
    color: #696969;
    letter-spacing: 0.5px;
    margin-top: 3rem;

  }
  .topic-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    column-gap: 3rem;
    align-items: start;
    margin-top: 0;
  }
  .topic-card {
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 0.6rem;
  }
  .topic-card h1 {
    font-family: cabinetRegular;
    font-size: 0.8rem;
    font-weight: 700;
    color: #2c2929;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
  }
  .topic-card p {
    padding: 0;
    margin-bottom: 4px;
    margin-top: 4px;
  }
  .time-schedule {
    font-family: cabinetRegular;
    width: auto;
    font-size: 10px;
    font-weight: 700;
    color: #696969;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 921) and (max-width: 1137px ) {
    .column {
        width: 45%;
        height: auto;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        column-gap: 1rem;
        padding: 1rem;
        border-radius: 8px;
      }
  }

  @media (max-width: 920px) {
       body {
        background-color: #F3F0F0;
        margin-bottom: 80px;
        margin-top: 20px;
        padding: 0 16px;
        }
    .column {
        width: 100%;
        height: auto;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        column-gap: 1rem;
        padding: 1rem;
        border-radius: 8px;
      }
  }
